/*****************************************************************************
 * Header
 *****************************************************************************/
.site-header {
  border-bottom: 1px solid $grey-color-light;
  background-color: #fff;

  /* fallback color */
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  z-index: 50;
}

.site-title {
  font-size: 20px;
  line-height: $nav-height;
  letter-spacing: -1px;
  margin-bottom: 0;

  &:hover {
    text-decoration: none;
    color: $theme-color;
  }
}

.site-nav {
  float: right;
  line-height: $nav-height;

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 0px;
    right: 10px;
    text-align: right;

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: line;
    }
  }
}

.site-social {
  float: left;
  line-height: $nav-height;
  display: flex;

  .header-name {
    float: left;
    margin-right: 10px;
  }

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 0px;
    right: 10px;
    text-align: right;

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: line;
    }
  }


  margin-top: 0px;
  padding-top: 0px;
}

.header-bar {
  left: 0px;
  top: 0px;
  position: relative;
  font-size: 20px;
  display: block;
  opacity: 0.75;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  line-height: 3em;
  z-index: 25;

  h1 {
    color: $theme-color;
    font-size: 75px;
  }

  h2 {
    font-size: 25px;
  }
}

/*****************************************************************************
 * Profile
 *****************************************************************************/
.profile {
  .left {
    margin-right: 10px;
  }

  .right {
    margin-left: 10px;
  }

  img {
    /* box-shadow: 0 0 5px $grey-color; */
    width: 100%;
  }
}

.profile-address {
  margin: 0px;
}

/*****************************************************************************
 * News
 *****************************************************************************/
.news {
  border-top: 1px solid $grey-color-light;
  margin-top: 30px;
  padding-top: 20px;

  h2 {
    margin-bottom: 15px;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    .date {
      width: 20%;
      padding: 0px 20px 0px 0px;
      text-align: right;

      /* font-style: italic; */
    }

    .announcement {
      width: 80%;
    }

    tr {
      text-align: left;
    }

    td {
      padding: 2px 0;
    }
  }
}

/*****************************************************************************
 * Footer
 *****************************************************************************/
.site-footer {
  border-top: 1px solid $grey-color-dark;
  background-color: $grey-color-dark;
  color: #aaa;
  font-size: 72%;
  padding: 2px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: $theme-color;
  }
}

/*****************************************************************************
 * Pagination
 *****************************************************************************/
.pagination {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 50px;
}

.paginationicon {
  font-size: 50px;

  a {
    color: $theme-color;
  }
}

/*****************************************************************************
 * Page content
 *****************************************************************************/
.page-content {
  padding: 100px 0;

  /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin: 0px 0;
  list-style: none;

  > li {
    margin-bottom: $vertical-spacing-unit;
  }
}

.contacticon {
  display: block;
  font-size: 35px;
  margin: 1px;
}

.contacticon-small {
  display: block;
  font-size: 25px;
  margin: 1px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

/*****************************************************************************
 * Posts
 *****************************************************************************/
.post-header {
  margin-bottom: $vertical-spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 10px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-description {
  margin: 0px;
}

.post-content {
  h2 {
    font-size: 42px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 30px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
  margin-bottom: 0px;
}

.post-link {
  display: block;
  font-size: 42px;
}

/******************************************************************************
 * Publications
 ******************************************************************************/
.publications {
  h2 {
    color: $theme-color;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.bibliography-year {
  border-top: 1px solid #ddd;
  color: #ddd;
  margin: 0 -3em -2.5ex -2em;
  padding-top: 1ex;
  text-align: right;
}

.bibliography {
  margin-bottom: 20px;
  margin-top: 20px;

  li {
    margin: 10px 0;
    position: relative;
    list-style: none;

    span {
      font-size: 14px;
      display: block;
    }

    .title {
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 0px;
    }

    .author {
      font-size: 14px;

      a {
        color: $text-color;
        border-bottom: 1px dashed; // $theme-color;

        &:hover {
          border-bottom-style: solid;
          text-decoration: none;
        }
      }

      > em {
        font-weight: bold;
        font-style: normal;
        color: $theme-color;
        // border-bottom: 1px solid;
      }
    }

    a.abstract, a.bibtex {
      cursor: pointer;
    }

    .hidden {
      font-size: $small-font-size;
      max-height: 0px;
      overflow: hidden;
      text-align: justify;
      -webkit-transition: 0.15s ease;
      -moz-transition: 0.15s ease;
      -ms-transition: 0.15s ease;
      -o-transition: 0.15s ease;
      transition: all 0.15s ease;

      p {
        line-height: 1.4em;
        margin: 10px;
      }

      pre {
        font-size: 1em;
        line-height: 1.4em;
        padding: 10px;
      }
    }

    .hidden.open {
      margin-top: 10px;
      max-height: 100em;
      -webkit-transition: 0.15s ease;
      -moz-transition: 0.15s ease;
      -ms-transition: 0.15s ease;
      -o-transition: 0.15s ease;
      transition: all 0.15s ease;
    }

    span.abstract.hidden {
      border: dashed 1px $background-color;
    }

    span.abstract.hidden.open {
      border-color: $grey-color;
    }
  }

  abbr {
    position: absolute;
    left: -7em;
    text-align: left;

    /*border-radius: 5px;*/
    /*border-color: $grey-color-light;*/
    /*background: #fff;*/
    width: 60px;

    a {
      font-size: 30px;
      color: #ddd;

      &:hover {
        color: $theme-color;
        text-decoration: none;
      }
    }
  }
}

.star {
  color: $theme-color;
  font-style: normal;
}

.periodical {
  line-height: 1.2em;
  margin-bottom: 5px;
}

.publication-links {
  a {
    color: $grey-color;
    font-weight: bolder;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    border-color: #ddd;
    background: #ddd;

    &:hover {
      color: $grey-color-dark;
      text-decoration: none;
    }
  }
}

/*****************************************************************************
* Projects
*****************************************************************************/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.project {
  box-sizing: border-box;
  float: left;
  height: 250px;
  padding: 10px;
  vertical-align: middle;
  width: 50%;
}

.thumbnail {
  overflow: hidden;
  height: 230px;
  width: 100%;
}

.thumbnail img {
  outline: 1px #e2e2e2 solid;
  outline-offset: -1px;
  height: auto;
  position: relative;
  // left: -25%;
  // top: -5%;
  width: 100%;
}

.thumbnail a {
  float: left;
  position: relative;
  width: 100%;
  height: 230px;
}

.thumbnail a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(3, 3, 3, 0.7);
  color: $grey-color-light;
  padding: 40px;
  text-align: center;
}

.thumbnail a:hover span {
  display: block;
}

/**
 * Portfolio pages **********************************************************
*/
.blankbox {
  background: $theme-color;
}

.img_row {
  height: $img_height;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: $img_spacing;
}

.col {
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  padding: $img_spacing;
}

.right {
  float: right;
}

.one {
  width: 33.33%;
}

.half {
  width: 50%;
}

.two {
  width: 66.66%;
}

.three {
  width: 100%;
}

.caption {
  height: 100%;
  color: $caption_color;
  text-align: center;
  vertical-align: middle;
  font-size: $caption_font_size;
}

/*****************************************************************************
 * CV
 *****************************************************************************/
.cv-pdf {
  float: right;
  margin-top: -85px;
  text-align: center;
  color: $text-color;

  a {
    color: $text-color;
  }

  a:hover {
    color: $theme-color;
    text-decoration: none;
  }
}

.cv {
  h3 {
    color: $theme-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .list {
    list-style: square;
    margin-left: 0px;
  }

  .map {
    border: 0px;
    border-spacing: 25px 2px;
    border-collapse: separate;
    margin-left: -25px;
  }

  .table {
    list-style: none;
    margin-left: 0px;

    .location {
      border-top: 1px solid #ddd;
      font-size: 30px;
      color: $grey-color-light;
      margin: 0.6em -3em -2.5ex -4em;
      padding-top: 1ex;
      text-align: right;
    }

    .year {
      color: $grey-color;
      font-size: 16px;
      position: absolute;
      left: -7.5em;
      text-align: left;
    }

    .title {
      list-style: none;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    .items {
      list-style: square;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-top: 5px;
    }

    .subitems {
      list-style: circle;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .table-row {
      position: relative;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 14px;

      li {
        line-height: 1.5em;

        div {
          display: block;
        }

        span {
          display: block;
        }

        pre {
          font-size: 1em;
          padding: 10px;
        }
      }
    }
  }
}
