.profile-img {
  max-width: 200px;
}

.news {
  a {
    color: $theme-color;

    &:hover {
        text-decoration: underline;
    }
  }

  .date {
    width: 85px;
  }

  .text p, .text a {
    padding-left: .2em;
  }
}
