<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- Fonts and Icons -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/mdb.min.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.min.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
  <!-- Header -->
  <nav class="navbar fixed-top navbar-expand-sm stylish-color-dark navbar-dark">
    <div class="container">
      {% if page.title != "about" %}
        <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url }}/"><b>Anthony</b> Platanios</a>
      {% endif %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item {% if page.title == "about" %}active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl | prepend: site.url }}/">
              about
              {% if page.title == "about" %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% for p in site.pages %}
            {% if p.title and p.url != "/" %}
              <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                  <a class="nav-link" href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">
                    {{ p.title }}
                    {% if page.title == p.title %}
                      <span class="sr-only">(current)</span>
                    {% endif %}
                  </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container-fluid mt-4">
    {{ content }}
  </div>

  <!-- Footer -->
  <footer class="stylish-color-dark text-light text-right">
    <div>
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}.
      {{ site.footer_text }}
      {% if site.last_updated %}
        Last updated: {{ site.last_updated }}.
      {% endif %}
    </div>
  </footer>

  <!-- Core JavaScript Files -->
  <script src="{{ 'jquery.min.js' | prepend: '/assets/js/' | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
  <script src="{{ 'popper.min.js' | prepend: '/assets/js/' | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
  <script src="{{ 'bootstrap.min.js' | prepend: '/assets/js/' | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
  <script src="{{ 'mdb.min.js' | prepend: '/assets/js/' | prepend: site.baseurl | prepend: site.url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/common.js' | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Code Syntax Highlighting -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <script src="{{ '/assets/js/highlight.pack.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
